<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>
    </title>
</head>

<body>
    <div class="container-fluid np">
        <div class="col-xs-12 col-sm-6 np">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>
          160 - Final Project
        </b> Progression Tracking
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                      <a href = "http://final-project-zeegeeko.c9users.io/globe/globe_3">
                        <li class="list-group-item">
                            <b>#1</b> Globe-3
                            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
                        </li>
                        </a>
                        <a href = "http://final-project-zeegeeko.c9users.io/globe/arctic">
                        <li class="list-group-item">
                            <b>#2</b> Arctic
                            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
                        </li>
                        </a>
                        <a href = "http://final-project-zeegeeko.c9users.io/globe/bird">

                        <li class="list-group-item">
                            <b>#3</b> Bird
                            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
                        </li>
                        </a>
                        <a href = "http://final-project-zeegeeko.c9users.io/globe/blob">

                        <li class="list-group-item">
                            <b>#4</b> Blob
                            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
                        </li>
                        </a>
                        <a href = "http://final-project-zeegeeko.c9users.io/globe/head">
                        <li class="list-group-item">
                            <b>#5</b> Head
                            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
                        </li>
                        </a>
                        <a href = "http://final-project-zeegeeko.c9users.io/globe/islands">
                        <li class="list-group-item">
                            <b>#6</b> Islands
                            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
                        </li>
                        </a>
                        </li>
                        </a>
                        <a href = "http://final-project-zeegeeko.c9users.io/globe/midguard">
                        <li class="list-group-item">
                            <b>#7</b> Midguard
                            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
                        </li>
                        </a>
                        <a href = "http://final-project-zeegeeko.c9users.io/globe/moon">
                        <li class="list-group-item">
                            <b>#8</b> Moon
                            <span class="pull-right glyphicon glyphicon-chevron-right"></span>
                        </li>
                        </a>
                    </ul>
                </div>
                <div class="panel-footer">
                    CS160 - Intro to UI Design and Development
                </div>
            </div>
        </div>
    </div>
</body>

</html>
